html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}


/* style for login form (from https://www.w3schools.com/howto/howto_css_login_form.asp)

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 40%;
  padding: 12px 20px;
  margin: 18px auto;
  /*margin-left: 100px;*/
  display: flex;
  vertical-align: middle;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  text-align: center;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}


/* Add padding to containers */
.container {
  padding: 16px;
  text-align: center;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

ul {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
